*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    background-color: rgb(38, 61, 68);
}

nav ul
{
    display: block;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(88, 133, 160);
    
}

#container
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}

footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(38, 61, 68);
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(111, 153, 177);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*Symptoms page*/

#symp aside
{
    width: 200px;
    float: right;
}

#symp section 
{
    width: 690px;
    
    margin-left: 10px;
    float: left;
}

#symp #long aside
{
    
    width: 920px;
}

/*Help Page*/

#help aside
{
    width: 490px;
    
    float: right;
}

#help section 
{
    width: 920px;
    
    float: left;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

#help #image aside
{
    width: 400px;
    
    float: left;
    margin-left: 10px;

}

#help section div
{
    border-style: solid;
    border-color: black;
}