* 
{
    margin: 0;
    padding: 0;
}

#container
{
    background-color: yellow;
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

body 
{
    background-color: red;
}

nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
}

nav ul
{
    display: block;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    
}

section
{
    background-color: blue;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
    height: 600px;
    border-style: double;
    border-color: white;
    
}

.box
{
    
    background-color: green;
    margin: 10px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-style: double;
    border-color: white;
}

h2
{
    background-color: purple;
}

ul
{
    list-style-type: none;
}