/*Hotlines*/
/**/
*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 920px;
    margin: auto;
    background-color: rgb(56, 126, 120);
    display: flex;
    align-items: center;
    border-style: groove;
    border-color: white;
}

nav ul
{
    width: 920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li
{
    
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(102, 194, 189);
}

#container
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}



footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(56, 126, 120);
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
}

section
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
}


#hotline aside
{
    width: 200px;
    height: 400px;
    float: left;
}


#hotline section 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
    width: 920px;
}
#hotline .box 
{
    margin: 10px;
    width: 250px;
    padding: 10px;
    background-color:rgb(23, 34, 36)
}

#hotline ul
{
    list-style-type: none;
}

header h1
{
    padding: 5px;
    font-size: 3.0em;
}

h1, h2, h3
{
    padding-top: 5px;
}