*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    padding-top: 1.041%;
    padding-bottom: 1.041%;
    margin-bottom: 20px;
    height: 4.166%;
    width: 95.833%;
    margin: auto;
    background-color: rgb(56, 126, 120);
    display: flex;
    align-items: center;
    border-style: groove;
    border-color: white;
}

nav ul
{
    width: 920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li
{
    
    list-style-type: none;
    padding-left: 1.562%;
    padding-right: 1.562%;
    text-align: center;
    height: 2.083%;
    padding-top: 1.041%;
    padding-bottom: 1.041%;
    background-color: rgb(102, 194, 189);
}
a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer a:link
{
    text-decoration: underline;
}

#container
{
    background-color: rgb(0, 0, 0);
    max-width: 960px;
    width: 94%;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}



footer
{
    clear: both;
    padding: 1.041%;
    background-color: rgb(56, 126, 120);
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding-top: 0.520%;
    padding-left: 1.041%;
    padding-right: 1.041%;
    padding-bottom: 1.041%;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
    box-shadow: 10px 10px 8px #292929;
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    border-radius: 1.041%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.041%;
    margin-top: 1.041%;
    padding: 1.041%;
}

aside
{
    border-radius: 1.041%;
    padding: 1.041%;
    margin-top: 1.041%;
    background-color: rgb(255, 255, 255);
    margin-right: 1.041%;
    margin-bottom: 1.041%;
}

aside
{
    border-radius: 1.041%;
    padding: 1.041%;
    margin-top: 1.041%;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 1.041%;
    margin-bottom: 1.041%;
    width: 49.598%;
    margin-left: 1.041%;
    
    background-image: url(../images/skull-aside.jpg);
    
}

#top
{
    width: 200px;
    display: flex;
    padding-right: 0.520%;
    padding-top: 0px;
    margin-right: 15.625%;
    background-color: red;
}

#bottom
{
    display: flex;
    width: 160px;
    padding-left: 0.520%;
    padding-top: 0.208%;
    margin-right: 17.708%;
    background-color: blue;
}

#button
{
    padding-left: 0.520%;
    padding-right: 0.520%;
}

#seethru
{
    opacity: 10%;
}

#long
{
    width: 95.833%;
    margin-left: 1.041%;
    border-radius: 1.041%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.041%;
    margin-top: 1.041%;
    padding: 1.041%;
    display: flex;
    justify-content: space-around;
}

.box
{
    width: 41.666%;
    padding: 0.520%;
}

#long .box
{
    background-color:rgb(228, 228, 228);
}

header h1
{
    padding: 0.520%;
    font-size: 3.0em;
}

h1, h2, h3
{
    padding-top: 0.520%;
}