*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    padding-top: 1.041%;
    padding-bottom: 1.041%;
    margin-bottom: 20px;
    height: 4.166%;
    width: 95.833%;
    margin: auto;
    background-color: rgb(56, 126, 120);
    display: flex;
    align-items: center;
    border-style: groove;
    border-color: white;
}

nav ul
{
    width: 920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li
{
    
    list-style-type: none;
    padding-left: 1.562%;
    padding-right: 1.562%;
    text-align: center;
    height: 2.083%;
    padding-top: 1.041%;
    padding-bottom: 1.041%;
    background-color: rgb(102, 194, 189);
}
a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer a:link
{
    text-decoration: underline;
}

#container
{
    background-color: rgb(0, 0, 0);
    max-width: 960px;
    width: 94%;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}



footer
{
    clear: both;
    padding: 1.041%;
    background-color: rgb(56, 126, 120);
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding-top: 0.520%;
    padding-left: 1.041%;
    padding-right: 1.041%;
    padding-bottom: 1.041%;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
    box-shadow: 10px 10px 8px #292929;
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    border-radius: 1.041%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.041%;
    margin-top: 1.041%;
    padding: 1.041%;
}

aside
{
    border-radius: 1.041%;
    padding: 1.041%;
    margin-top: 1.041%;
    background-color: rgb(255, 255, 255);
    margin-right: 1.041%;
    margin-bottom: 1.041%;
}

img
{
    width: 50%;
}

#invisible-headings
{
    display: none;
}

/*Coping Page*/

main
{
    display: flex;
    justify-content: space-around;
}

#cope main section
{
    width: 27.083%;
}

#cope section 
{
    
    margin-left: 1.041%;
}

 #image aside
{
    height: 90%;
    width: 95.833%;
    margin-left: 1.041%;
    margin-right: 1.041%;
}

#flex-container
{
    display: flex;
    justify-content: space-around
}

#image-flex
{
    display: flex;
    justify-content: space-around;
    width: 94%;
    margin-left: 3.041%;
}

.box
{
    margin: 0.520%;
    border-style: solid;
    border-color:black;
}

header h1
{
    padding: 0.520%;
    font-size: 3.0em;
}

h1, h2, h3
{
    padding-top: 0.520%;
}

@media screen and (max-width: 800px)
{ 

    #nav-container
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav
    {
        display: flex;
        justify-content: center;
    }

    nav ul 
    {
        display: block;
        width: 80%;
    }

    #nav-container h2 
    {
        display: block;
        width: 50%;
    }

    main 
    {
        display: block;
    }

    #cope main section 
    {
        width: 95.833%;
        margin-left: 1.041%;
    }
}