/* general, every page stuff*/
*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}


header
{
    background-color: rgb(0, 0, 0);
}


nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
}


nav ul
{
    display: inline;
}
nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
   
   
}
body
{
    background-color: rgb(19, 22, 36);
}


#container
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin: 0 auto;
}

footer
{
    clear: both;
    padding: 10px;
}
#imgcontainer
{
   display: flex;
   justify-content: center;
}


p
{
    padding: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
}


h1
{
    text-align: center;
}


h2, h3
{
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
}

/* start of teal */
#teal nav 
{
    background-color: rgb(56, 126, 120);
}
#teal nav li 
{
    background-color: rgb(102, 194, 189);
}
#teal body
{
    background-color: rgb(19, 22, 36);
}


#teal aside
{
    width: 200px;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
#teal section
{
    background-color: rgb(255, 255, 255);
    width: 710px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    float: right;
    color: white;
}
#teal Footer
{
background-color:  rgb(227, 197, 46);
}

#teal P 
{
background-color: rgb(84, 141, 139);


}
/* end of teal */

/* start of blue */
#blue nav 
{
    background-color: rgb(56, 126, 120);
}
#blue nav li 
{
    background-color: rgb(102, 194, 189);
}
#blue body
{
    background-color: rgb(19, 22, 36);
}


#blue aside
{
    width: 200px;
    height: 400px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
#blue section
{
    background-color: rgb(255, 255, 255);
    width: 710px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    float: right;
    color: white;
}
#blue Footer
{
background-color:  rgb(227, 197, 46);
}

#blue P 
{
background-color: rgb(84, 141, 139);
}
/* end of blue */

/* start of navy */

/* end of navy */

/* start of purple */

/* end of purple */