/* general, every page stuff*/
*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
}

nav ul
{
    display: block;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    
}

#container
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}



footer
{
    clear: both;
    padding: 10px;
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    border-radius: 10px;
}

aside
{
    border-radius: 10px;
}

/* start of teal */

#teal nav 
{
    background-color: rgb(56, 126, 120);
}

#teal nav li 
{
    background-color: rgb(102, 194, 189);
}



#teal aside
{

    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
 
}

#teal section
{
    background-color: rgb(255, 255, 255);

    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}

#teal Footer
{
    background-color:  rgb(227, 197, 46);
}

#teal P 
{
    background-color: rgb(84, 141, 139);
}
/* end of teal */


/* start of blue */
#blue nav 
{
    background-color: rgb(38, 61, 68);
}

#blue nav li 
{
    background-color: rgb(88, 133, 160);
}

#blue body
{
    background-color: rgb(19, 22, 36);
}

#blue aside
{

    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#blue section
{
    background-color: rgb(255, 255, 255);

    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}

#blue Footer
{
    background-color:  rgb(227, 197, 46);
}

#blue P 
{
    background-color: rgb(111, 153, 177);
}
/* end of blue */


/* start of navy */
#navy nav 
{
    background-color: rgb(22, 26, 37);
}

#navy nav li 
{
    background-color: rgb(45, 56, 80);
}

#navy body
{
    background-color: rgb(19, 22, 36);
}

#navy aside
{

    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#navy section ul
{
    background-color: rgb(167, 176, 197);
    list-style-type: disc;
}

#navy section
{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}

#navy Footer
{
    background-color:  rgb(227, 197, 46);
}

#navy P 
{
    background-color: rgb(39, 54, 73);
}
/* end of navy */


/* start of purple */
#purple nav 
{
    background-color: rgb(26, 19, 29);
}

#purple nav li 
{
    background-color: rgb(57, 40, 61);
}

#purple body
{
    background-color: rgb(16, 5, 46);
}

#purple aside
{
    
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

#purple section
{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

    
}

#purple Footer
{
    background-color:  rgb(227, 197, 46);
}

#purple P 
{
    background-color: rgb(49, 36, 54);
}
/* end of purple */


/* Start of layout */

/* home */
#home aside
{
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    
}

#home section 
{
    width: 920px;
    height: 250px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    
}

#home #image section
{
    width: 580px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    
}



/* symp */
#symp aside
{
    width: 200px;
    height: 400px;
    float: right;
    
}

#symp section 
{
    width: 690px;
    height: 400px;
    margin-left: 10px;
    float: left;
}

#symp #long aside
{
    
    width: 920px;
}
/* cope */
#cope aside
{
    width: 200px;
    height: 400px;
    float: right;
}

#cope section 
{
    width: 920px;
    height: 400px;
    float: left;
    margin-left: 10px;
}

#cope #image aside
{
    width: 690px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
/* help */
#help aside
{
    width: 490px;
    height: 400px;
    float: right;
}

#help section 
{
    width: 920px;
    height: 400px;
    float: left;
    margin-left: 10px;
}

#help #image aside
{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 10px;

}
/* hotline */
#hotline aside
{
    width: 200px;
    height: 400px;
    float: left;
}


#hotline section #notitle
{
    width: 920px;
    height: 400px;
    float: left;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}
#hotline div .box 
{
    width: 200px;
    height: 300px;
    padding: 30px;
    background-color: rgb(49, 57, 66);
}



/* why is this here? */
#home .long section
{
    width: 200px;
    height: 600px;
}

/* ,maybe temp place to store divs */
 #symp aside div
 {
        background-color: rgb(255, 255, 255);
        
    }
 #symp aside #notitle 
 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
 }

 #symp #long p
 {
    width: 250px;
 }

 #symp div h3
 {
    width: 200px;
    margin-top: 5px;
 }

 