*
{
    margin: 0 auto;
    padding: 0;
    color: white;
}


header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    display:flex;
    
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    background-color: rgb(56, 126, 120);
}

nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 920px;
    height: 40px;
}

nav li
{
    
    list-style-type: none;
    
    padding-left: 15px;
    padding-right: 20px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: rgb(102, 194, 189);
}

#container
{
   background-color: black;
    width: 960px;
    margin:  0 auto;
    margin-top: 0;
}

body
{
    background-color: rgb(105, 87, 87);
    
    flex-direction: column;
}

#flex-container
{
    display: flex;
    flex-wrap: wrap;
}



footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(56, 126, 120);
}

p
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    width: 450px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    margin-left: 10px;
    
}

section ul
{
    background-color: rgb(68, 114, 112);
}

section li 
{
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}

header h1
{
    padding: 5px;
    font-size: 3.0em;
}

h1, h2, h3
{
    padding-top: 5px;
}