*
{
    margin: 0 auto;
    padding: 0;
    color: white;
}
*
{
    margin: 0 auto;
    padding: 0;
    color: white;
}

*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    background-color: rgb(37, 37, 37);
}

nav ul
{
    display: block;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(95, 95, 95);
}

#container
{
    background-image: url(../images/skull.png);
    width: 960px;
    margin:  0 auto;
    margin-top: 0;
}

body
{
    background-color: rgb(105, 87, 87);
    flex-direction: column;
}

#flex-container
{
    display: flex;
}



footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}

p
{
    padding: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    width: 450px;
    height: 300px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
aside p
{
    opacity: 100%;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 250px;
    margin-left: 10px;
    
}

#top
{
    display: flex;
    padding-left: 80px;
    padding-top: 0px;
}

#bottom
{
    display: flex;
    padding-left: 110px;
    padding-top: 2px;
}

#button
{
    padding-left: 5px;
    padding-right: 5px;
    opacity: 75%;
}

#long
{
    width: 920px;
    height: 300px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.box
{
    width: 400px;
    padding: 5px;
}

#long .box
{
    background-color:rgb(228, 228, 228);
}