*
{
    margin: 0 auto;
    padding: 0;
    color: white;
}


header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 920px;
    margin: auto;
    background-color: rgb(56, 126, 120);
    display: flex;
    align-items: center;
    border-style: groove;
    border-color: white;
}

nav ul
{
    width: 920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li
{
    
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(102, 194, 189);
}

nav a:link
{
    text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
}

#container
{
    background-image: url(../images/skull-xray-homepage.jpg);
    width: 960px;
    margin:  0 auto;
    margin-top: 0;
}

body
{
    background-color: rgb(105, 87, 87);
    flex-direction: column;
}

#flex-container
{
    display: flex;
}



footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(56, 126, 120);
}

p
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
    box-shadow: 10px 10px 8px #292929;
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    width: 410px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
aside p
{
    opacity: 100%;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
    margin-bottom: 10px;
    width: 470px;
    height: 320px;
    margin-left: 10px;
    
}

#top
{
    width: 200px;
    display: flex;
    padding-right: 5px;
    padding-top: 0px;
    margin-right: 150px;
}

#bottom
{
    display: flex;
    width: 160px;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: 170px;
}

#button
{
    padding-left: 5px;
    padding-right: 5px;
}

#seethru
{
    opacity: 10%;
}

#long
{
    width: 920px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.box
{
    width: 400px;
    padding: 5px;
}

#long .box
{
    background-color:rgb(228, 228, 228);
}

header h1
{
    padding: 5px;
    font-size: 3.0em;
}

h1, h2, h3
{
    padding-top: 5px;
}