*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav
{
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    background-color: rgb(56, 126, 120);
}

nav ul
{
    display: block;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(102, 194, 189);
    
}

#container
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    background-color: rgb(105, 87, 87);
}



footer
{
    clear: both;
    padding: 10px;
    background-color: rgb(56, 126, 120);
}

#imgcontainer
{
   display: flex;
   justify-content: center;
}

p
{
    padding: 10px;
    border-style:double;
    border-color: rgb(255, 255, 255);
    background-color: rgb(84, 141, 139);
}

h1
{
    text-align: center;
    background-color: black;
}

h2, h3
{
    text-align: center;
    background-color: black;
    
}

section
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

aside
{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
}

/*start of homepage*/

#home aside
{
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    
}

#home section 
{
    width: 920px;
    height: 250px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    
}

#home #image section
{
    width: 580px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    
}

/*Start of Donate*/

#donate section
{
    width: 700px;
    height: 200px;
    margin-left: 120px;
}

#donate aside
{
    width: 920px;
    height: 300px;
    margin-left: 10px;
}

#donate #long aside 
{
    width: 920px;
    height: 300px;
    margin-left: 10px;
    
}

#flex-container
{
    display: flex;
    justify-content: space-around
}

.box
{
    margin: 5px;
    width: 300px;
    border-style: solid;
    border-color:black;
}

.pics
{
    display: flex;
}